Flask
Pillow
PyMuPDF
accelerate
elevenlabs
httpx
langchain
langchain-community
langchain-core
moviepy
numpy
ollama
opencv-python
openai
pdfplumber
pydub
python-dotenv
requests
scipy
sentencepiece
soundfile
torch
torchaudio
torchvision
tqdm
transformers

