langchain
langchain-core
langchain-community
requests
httpx
tqdm
ollama
PyMuPDF
pdfplumber
Pillow
opencv-python
pydub
elevenlabs
pydantic
numpy
soundfile
pyarrow<21
torch
torchvision
torchaudio
whisperx
f5-tts
